@{
    ViewBag.Title = "adminhomepage";
}


<link href='~/Content/mystyle.css' rel='stylesheet' type='text/css'>
<link href='~/Content/mystyle.css' rel='stylesheet' type='text/css'>


<!-- multistep form -->


   <img src="~/Images/banr2.jpg" style="width:100%"/>

<br /> <br/><br />
       <a href="/Guest/guest_index" class="myclass"> Logout </a>
    





        
    
		

		<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />  

        <div id="d1">
		<a href="/Admin/Index"><input type="button" style="margin-left:35%" name="create" class="myclass" value="Create Account" /></a> <br/><br/>
	    <a href="/Admin/deleteaccount"><input type="button" style="margin-left:35%" name="delete" class="myclass" value="Delete Account" /></a> <br/><br/>
        <a href="/Admin/searchaccount"><input type="button" style="margin-left:35%" name="search" class="myclass" value="Search Account" /></a> <br/><br/>
        <a href="/Admin/updateaccount"><input type="button" style="margin-left:35%" name="update" class="myclass" value="Update Account Info" /></a> <br/><br/>
         <a href="/Admin/viewaccount"><input type="button" style="margin-left:35%" name="update" class="myclass" value="View all Accounts" /></a> <br/><br/>
        </div>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<img src="~/Images/b2.jpg" / style="margin-left:35%;">

