<!DOCTYPE html>
@{
    Layout = "~/Views/Shared/myLayoutPage.cshtml";
}
<html lang="en">
<head>
<title>Learn Center | Contacts</title>
<meta charset="utf-8">
<link rel="stylesheet" href="~/Content/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="~/Content/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="~/Content/style.css" type="text/css" media="all">
<script type="text/javascript" src="~/Scripts/jquery-1.5.2.js" ></script>
<script type="text/javascript" src="~/Scripts/cufon-yui.js"></script>
<script type="text/javascript" src="~/Scripts/cufon-replace.js"></script>
<script type="text/javascript" src="~/Scripts/Molengo_400.font.js"></script>
<script type="text/javascript" src="~/Scripts/Expletus_Sans_400.font.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="js/html5.js"></script>
<style type="text/css">.bg, .box2{behavior:url("js/PIE.htc");}</style>
<![endif]-->
</head>

<div class="body2">
  <div class="main">
    <!-- content -->
    <section id="content">
      <div class="box1">
        <div class="wrapper">
          <article class="col1">
            <div class="pad_left1">
              <h2>Contact Form</h2>
              <form id="ContactForm" action="#">
                <div>
                  <div  class="wrapper"> <strong>Name:</strong>
                    <div class="bg">
                      <input type="text" class="input" >
                    </div>
                  </div>
                  <div  class="wrapper"> <strong>Email:</strong>
                    <div class="bg">
                      <input type="text" class="input" >
                    </div>
                  </div>
                  <div  class="textarea_box"> <strong>Message:</strong>
                    <div class="bg">
                      <textarea name="textarea" cols="1" rows="1"></textarea>
                    </div>
                  </div>
                  <a href="#" class="button"><span><span>Send</span></span></a> <a href="#" class="button"><span><span>Clear</span></span></a> </div>
              </form>
            </div>
          </article>
          <article class="col2 pad_left2">
            <div class="pad_left1">
              
              <p><br></p>
            </div>
          </article>
        </div>
      </div>
    </section>
    <!-- content -->
    <!-- footer -->
    
    <!-- / footer -->
  </div>
</div>
<script type="text/javascript">Cufon.now();</script>
</body>
</html>