<!DOCTYPE html>
@{
    Layout = "~/Views/Shared/myLayoutPage.cshtml";
}
<html lang="en">
<head>
<title>Learn Center | Courses</title>
<meta charset="utf-8">
<link rel="stylesheet" href="~/Content/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="~/Content/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="~/Content/style.css" type="text/css" media="all">
<script type="text/javascript" src="~/Scripts/jquery-1.5.2.js" ></script>
<script type="text/javascript" src="~/Scripts/cufon-yui.js"></script>
<script type="text/javascript" src="~/Scripts/cufon-replace.js"></script>
<script type="text/javascript" src="~/Scripts/Molengo_400.font.js"></script>
<script type="text/javascript" src="~/Scripts/Expletus_Sans_400.font.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="js/html5.js"></script>
<style type="text/css">.bg, .box2{behavior:url("js/PIE.htc");}</style>
<![endif]-->
</head>

<div class="body2">
  <div class="main">
    <!-- content -->
    <section id="content">
      <div class="box1">
        <div class="wrapper">
          <article class="col1">
            <div class="pad_left1">
                <ul>
                    <!-- / aho1 -->
                    <li> <h2 class="pad_bot1">Programming Subjects</h2></li>
                </ul>

            </div>
            <div class="wrapper pad_bot1">
              <figure class="left marg_right1"><img src="~/images/page2_img1.jpg" alt=""></figure>
              <p class="pad_bot1 pad_top2"><strong>All the material is provided here for the students who are willing to improve thier progmming skills</strong></p>
              <p> We are please to help the students in thier studies this website contains all data of the subjects taught by the teachers in the university</p>
            </div>
            <div class="pad_left1">
              <div class="box2">
                <div class="wrapper">
                  <div class="cols">
                    <ul class="list3">
                      <li><a href="/Home/courses1">INTRODUCTION TO COMPUTER</a></li>
                      <li><a href="/Home/courses1">PROGRAMMING FUNDAMENTALS</a></li>
                      <li><a href="/Home/courses1">OBJECT ORIENTED PROGRAMMING</a></li>
                      <li><a href="/Home/courses1">DATA STRUCTURE AND ALGORITHMS</a></li>
                    </ul>
                  </div>
                  <div class="cols pad_left2">
                    <ul class="list3">
                      <li><a href="/Home/courses1">ANALYSIS OF ALGORITHMS</a></li>
                      <li><a href="/Home/courses1">INTERNET PROGRAMMING</a></li>
                      <li><a href="/Home/courses1">EAD</a></li>
                      <li><a href="/Home/courses1">MOBILE COMPUTING</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="pad_left1">
                <ul>
                    <!-- / aho1 -->
                    <li> <h2 class="pad_bot1">Mathematics</h2></li>
                </ul>

            </div>

              <div class="box2">
                <div class="wrapper">
                  <div class="cols">
                    <ul class="list3">
                      <li><a href="/Home/courses1">Economics</a></li>
                      <li><a href="/Home/courses1">Calculus 1</a></li>
                      <li><a href="/Home/courses1">Calculus 2</a></li>
                      
                    </ul>
                  </div>
                  <div class="cols pad_left2">
                    <ul class="list3">
                      <li><a href="/Home/courses1">Linear Algebra</a></li>
                      <li><a href="/Home/courses1">Discrete Mathematics</a></li>
                      <li><a href="/Home/courses1">Probability and Statics</a></li>
                      
                    </ul>
                  </div>
                </div>
              </div>
                
               </article>
          <article class="col2 pad_left2">
            <div class="pad_left1">
              <h2>Other Subjects</h2>
            </div>
            <ul class="list1 pad_bot1">
              <li><a href="/Home/courses1">Writing Skills</a></li>
              <li><a href="/Home/courses1">Communication Skills</a></li>
              <li><a href="/Home/courses1">Bussiness Writing</a></li>
              <li><a href="/Home/courses1">Islamic Studies </a></li>
                <li><a href="/Home/courses1">Pakistan Studies </a></li>
            </ul>
            
            <div class="pad_left1">
              <h2 class="marg_top1">Software Management Courses</h2>
                </div>
              <ul class="list1 pad_bot1">
              <li><a href="/Home/courses1">MIS</a></li>
              <li><a href="/Home/courses1">SQA</a></li>
              <li><a href="/Home/courses1">SPM</a></li>
              <li><a href="/Home/courses1">OOAD </a></li>
            </ul>
              <p>Providing the best and efficient way of studying anywhere with in the access of internt. The services of teacher can also be preserved through this website. Students can visit this website can download materilas they needed can also test thier skills and challenge their fellow students
               .</p>
            </div>
            </article>
        </div>
      </div>
    </section>
    <!-- content -->
    <!-- footer -->
   