
<!DOCTYPE html>
@{
    Layout = "~/Views/Shared/myLayoutPage.cshtml";
}
<html lang="en">
<head>
    <title>Learn Center | Admissions</title>
<meta charset="utf-8">
<link rel="stylesheet" href="~/Content/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="~/Content/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="~/Content/style.css" type="text/css" media="all">
<script type="text/javascript" src="~/Scripts/jquery-1.5.2.js" ></script>
<script type="text/javascript" src="~/Scripts/cufon-yui.js"></script>
<script type="text/javascript" src="~/Scripts/cufon-replace.js"></script>
<script type="text/javascript" src="~/Scripts/Molengo_400.font.js"></script>
<script type="text/javascript" src="~/Scripts/Expletus_Sans_400.font.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="js/html5.js"></script>
<style type="text/css">.bg, .box2{behavior:url("js/PIE.htc");}</style>
<![endif]-->
</head>

<div class="body2">
  <div class="main">
    <!-- content -->
    <section id="content">
      <div class="box1">
        <div class="wrapper">
          <article class="col1">
            <div class="pad_left1">
              <h2 class="pad_bot1">Our Purpose</h2>
              <p class="pad_bot1 pad_top2"><strong>We are eyeing towards the best way of course learning by providing students all the course material and by taking regular tests.</strong></p>
              Course learning will contain comprehensive syllabus of courses. Students can select any course for learning. A syllabus will be shown to them and student will start learning that course.
                 </div>
            <div class="pad_left1">
              <h2 class="pad_bot1">Terms of Learning</h2>
            </div>
            <div class="wrapper">
              <figure class="left marg_right1"><img src="~/images/page5_img1.jpg" alt=""></figure>
              <p class="pad_top2"> <strong> Every course will have three levels </strong> containing their own syllabus. Every level will have its own syllabus and tests. Students have to pass every test comprehensively to move to next level of course.After Passing all the levels grade will be assign to students.</p>
            </div>
            <div class="wrapper pad_top2">
              <div class="pad_left1">
                <div class="box2">
                  <div class="wrapper">
                    <div class="cols">
                      <ul class="list3">
                        <li><a href="#">Programming Courses</a></li>
                        <li><a href="#">Management Courses</a></li>
                        <li><a href="#">Linguistics Courses</a></li>
                      </ul>
                    </div>
                    <div class="cols pad_left2">
                      <ul class="list3">
                        <li><a href="#">Software Oriented Courses</a></li>
                        <li><a href="#">Research Courses</a></li>
                        <li><a href="#">Elective Courses</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <h1><b><span>Push Yourself Because, No One Else Is Going To Do It For You.</span></b></h1>
          </article>
          <article class="col2 pad_left2">
            <div class="pad_left1">
              <h2>Important Courses</h2>
            </div>
            <div class="wrapper"> <span class="date">JAVA</span>
              <p class="pad_top2"><a href="/Home/courses1">Internet Programming</a><br>

            </div>
            <div class="wrapper"> <span class="date">C#</span>
              <p class="pad_top2"><a href="/Home/courses1">Enterprise Application Development</a><br>

            </div>
            <div class="wrapper"> <span class="date">COAL</span>
              <p class="pad_top2"><a href="/Home/courses1">Assembly Language</a><br>

            </div>
            <div class="wrapper"> <span class="date">AI</span>
              <p class="pad_top2"><a href="/Home/courses1">Artificial Intelligence</a><br>

            </div>
            <div class="wrapper pad_bot2"> <span class="date">ALGO</span>
              <p class="pad_top2"><a href="/Home/courses1">Algorithams Analysis</a><br>
            </div>
            
            <div class="wrapper pad_bot2"> <span class="date">OS</span>
              <p class="pad_top2"><a href="/Home/courses1">Operating Systems</a><br>
            </div>

        </div>
      </div>
    </section>
    <!-- content -->
    <!-- footer -->
    
    <!-- / footer -->
  </div>
</div>
<script type="text/javascript">Cufon.now();</script>
</body>
</html>