<!DOCTYPE html>
<html lang="en">
    @{
    Layout = "~/Views/Shared/myLayoutPage.cshtml";
}
<head>
<title>Learn Center | Admissions</title>
<meta charset="utf-8">
<link rel="stylesheet" href="~/Content/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="~/Content/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="~/Content/style.css" type="text/css" media="all">
<script type="text/javascript" src="~/Scripts/jquery-1.5.2.js" ></script>
<script type="text/javascript" src="~/Scripts/cufon-yui.js"></script>
<script type="text/javascript" src="~/Scripts/cufon-replace.js"></script>
<script type="text/javascript" src="~/Scripts/Molengo_400.font.js"></script>
<script type="text/javascript" src="~/Scripts/Expletus_Sans_400.font.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="js/html5.js"></script>
<style type="text/css">.bg, .box2{behavior:url("js/PIE.htc");}</style>
<![endif]-->
</head>

<div class="body2">
  <div class="main">
    <!-- content -->
    <section id="content">
      <div class="box1">
        <div class="wrapper">
          <article class="col1">
            <div class="pad_left1">
              <h2 class="pad_bot1">Purpose of Testing System</h2>
              <p class="pad_bot1 pad_top2"><strong>We are eyeing towards the best way of course learning by providing students an interface where they can polish their skills by giving tests.</strong></p>
              Testing System will contain comprehensive syllabus of courses.Students can select any course for test. A syllabus will be shown and student then select any type and quiz will start.
                 </div>
            <div class="pad_left1">
              <h2 class="pad_bot1">Testing System Rules</h2>
            </div>
            <div class="wrapper">
              <figure class="left marg_right1"><img src="~/images/page5_img1.jpg" alt=""></figure>
              <p class="pad_top2"> <strong> Every course will have three levels </strong> containing their own syllabus. Every level will have its own syllabus and tests. Students have to pass every test comprehensively to move to next level of course.After Passing all the levels grade will be assign to students.</p>
            </div>
            <div class="wrapper pad_top2">
              <div class="pad_left1">
                <div class="box2">
                  <div class="wrapper">
                    <div class="cols">
                      <ul class="list3">
                        <li><a href="#">Programming Courses</a></li>
                        <li><a href="#">Management Courses</a></li>
                        <li><a href="#">Linguistics Courses</a></li>
                      </ul>
                    </div>
                    <div class="cols pad_left2">
                      <ul class="list3">
                        <li><a href="#">Software Oriented Courses</a></li>
                        <li><a href="#">Mathematics Courses</a></li>
                        <li><a href="#">Elective Courses</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <div id="slogan">Push Yourself Because, No One Else Is Going To Do It For You.</div>
          </article>
          <article class="col2 pad_left2">
            <div class="pad_left1">
              <h2>Important Courses</h2>
            </div>
            <div class="wrapper"> <span class="date">OOP</span>
              <p class="pad_top2"><a href="">Object Oriented Programming</a><br>

            </div>
            <div class="wrapper"> <span class="date">DSA</span>
              <p class="pad_top2"><a href="">Data Structures & Algorithms</a><br>

            </div>
            <div class="wrapper"> <span class="date">PF</span>
              <p class="pad_top2"><a href="">Programming Fundamentals</a><br>

            </div>
            <div class="wrapper"> <span class="date">AI</span>
              <p class="pad_top2"><a href="">Artificial Intelligence</a><br>

            </div>
            <div class="wrapper pad_bot2"> <span class="date">DM</span>
              <p class="pad_top2"><a href="">Discrete Mathematics</a><br>
            </div>
            
            <div class="wrapper pad_bot2"> <span class="date">SPM</span>
              <p class="pad_top2"><a href="">Software Project Management</a><br>
            </div>

        </div>
      </div>
    </section>
    <!-- content -->
    <!-- footer -->
    
    <!-- / footer -->
  </div>
</div>
<script type="text/javascript">Cufon.now();</script>
</body>
</html>