<!DOCTYPE html>
@{
    Layout = "~/Views/Shared/myLayoutPage.cshtml";
}
<html lang="en">
<head>
<title>Learn Center | Teachers</title>
<meta charset="utf-8">
<link rel="stylesheet" href="~/Content/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="~/Content/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="~/Content/style.css" type="text/css" media="all">
<script type="text/javascript" src="~/Scripts/jquery-1.5.2.js" ></script>
<script type="text/javascript" src="~/Scripts/cufon-yui.js"></script>
<script type="text/javascript" src="~/Scripts/cufon-replace.js"></script>
<script type="text/javascript" src="~/Scripts/Molengo_400.font.js"></script>
<script type="text/javascript" src="~/Scripts/Expletus_Sans_400.font.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="js/html5.js"></script>
<style type="text/css">.bg, .box2{behavior:url("js/PIE.htc");}</style>
<![endif]-->
</head>

<div class="body2">
  <div class="main">
    <!-- content -->
    <section id="content">
      <div class="box1">
        <div class="wrapper">
          <article class="col1">
            <div class="pad_left1">
              <h2 class="pad_bot1">Our Teachers</h2>
            </div>
            <div class="wrapper pad_bot2">
              <figure class="left marg_right1"><img src="~/images/mansoor.jpg" alt=""></figure>
              <p class="pad_top2"><strong>Mansoor Sarwar </strong><br>
                Dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt.</p>
              <p class="pad_left1 pad_bot1"><strong>Mollitia animi, id est laborum et dolorum fuga.</strong> Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.</p>
              <p class="pad_bot1"><a href="#" class="button"><span><span>Read More</span></span></a></p>
            </div>
            <div class="wrapper pad_bot2">
              <figure class="left marg_right1"><img src="~/images/Murtaza.jpg" alt=""></figure>
              <p class="pad_top2"><strong>Murtaza Yousaf </strong><br>
                Dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt.</p>
              <p class="pad_left1 pad_bot1"><strong>Mollitia animi, id est laborum et dolorum fuga.</strong> Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.</p>
              <p class="pad_bot1"><a href="#" class="button"><span><span>Read More</span></span></a></p>
            </div>
            <div class="wrapper">
              <figure class="left marg_right1"><img src="~/images/waqar.jpg" alt=""></figure>
              <p class="pad_top2"><strong>Waqar ul Quonain </strong><br>
                Dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt.</p>
              <p class="pad_left1 pad_bot1"><strong>Mollitia animi, id est laborum et dolorum fuga.</strong> Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.</p>
              <a href="#" class="button"><span><span>Read More</span></span></a> </div>
          </article>
          <article class="col2 pad_left2">
            <div class="pad_left1">
              <h2>Other Courses</h2>
            </div>
            <ul class="list1">
              <li><a href="/Home/courses1">Writing Skills</a></li>
              <li><a href="/Home/courses1">Communication Skills</a></li>
              <li><a href="/Home/courses1">Business Writing</a></li>
              <li><a href="/Home/courses1">Islamic Studies</a></li>
              <li><a href="/Home/courses1">Pakistan Studies</a></li>
            </ul>
            <div class="pad_left1">
              <h2>Core Courses</h2>
              <div class="wrapper"> <span class="date">DSA</span>
              <p class="pad_top2"><a href="#">Fareed Ul Hassan Baig</a>
              <br><a href="#">Ahmad Ghazali</a>
              <br><a href="#">Esha Aftab</a>
            </div>

            <div class="wrapper"> <span class="date">DB</span>
              <p class="pad_top2"><a href="#">Asim Rasool</a>
              <br><a href="#">Farhan Ch.</a>
              <br><a href="#">Zoobia Sohail</a>
            </div>

            <div class="wrapper"> <span class="date">OOP</span>
              <p class="pad_top2"><a href="#">Aisha Khan</a>
              <br><a href="#">Asim Ali</a>
              <br><a href="#">Abdul Mateen</a>
            </div>

            <div class="wrapper"> <span class="date">IP</span>
              <p class="pad_top2"><a href="#">Hassan Khan</a>
              <br><a href="#">M. Idrees</a>
              <br><a href="#">Aisha Khan</a>
            </div>

            </div>
            <a href="#" class="button marg_top1"><span><span>&nbsp;&nbsp; View All &nbsp;&nbsp;</span></span></a> </article>
        </div>
      </div>
    </section>
    <!-- content -->
    <!-- footer -->
   
    <!-- / footer -->
  </div>
</div>
<script type="text/javascript">Cufon.now();</script>
</body>
</html>